<%- layout('layouts/boilerplate') %>


    <div class="card mt-5">
        <h5 class="card-header">Create Gatepass</h5>
        <div class="card-body">
            <h5 class="card-title">To Create a new gatepass for visitor</h5>
            <p class="card-text">Visitor gate pass has a validity of one day.</p>
            <a href="/gatepass/new" class="btn btn-primary">Create</a>
        </div>
    </div>

    <div class="card mt-5">
        <h5 class="card-header">Show All Gatepasses</h5>
        <div class="card-body">
            <h5 class="card-title">To Show gatepass for visitor</h5>
            <p class="card-text">Showing all existing gatepasses.</p>
            <a href="/gatepass" class="btn btn-primary">Show</a>
        </div>
    </div>